week2/quiz/quiz.2.1st.try.pdf
week2/quiz/quiz.2.2nd.try.pdf
week2/programming_assignment/Logistic+Regression+with+a+Neural+Network+mindset+v3.ipynb
week2/programming_assignment/Logistic+Regression+with+a+Neural+Network+mindset+v3.zip
week2/programming_assignment/Logistic+Regression+with+a+Neural+Network+mindset+v3.pdf
week2/programming_assignment/Logistic+Regression+with+a+Neural+Network+mindset+v3.py
week2/practice_assignment/Python+Basics+With+Numpy+v3.ipynb
week1/quiz.1.pdf
week3/programming_assignment/Planar+data+classification+with+one+hidden+layer+v3.ipynb
week3/programming_assignment/Planar+data+classification+with+one+hidden+layer+v3.ipynb.bak
week3/quiz/quiz.3.2nd.try.pdf
week3/quiz/quiz.3.final.try.pdf
week3/programming_assignment/Planar+data+classification+with+one+hidden+layer+v3.md
week3/programming_assignment/Planar+data+classification+with+one+hidden+layer+v3.pdf
week3/programming_assignment/Planar+data+classification+with+one+hidden+layer+v3.py
week4/programming_assignments/assignment2/Deep+Neural+Network+-+Application+v3.ipynb
week4/programming_assignments/assignment2/Deep+Neural+Network+-+Application+v3.zip
week4/programming_assignments/assignment2/Deep+Neural+Network+-+Application+v3.py
week4/programming_assignments/assignment2/Deep+Neural+Network+-+Application+v3.pdf
