week2/quiz/quiz.2.1st.try.pdf
week2/quiz/quiz.2.2nd.try.pdf
week2/assignment/Logistic+Regression+with+a+Neural+Network+mindset+v3.ipynb
week2/practice_assignment/Python+Basics+With+Numpy+v3.ipynb
week1/quiz.1.pdf
